[Unit]
After=network.target
Description=Start Bearerbox

[Service]
EnvironmentFile=-/etc/default/kannel
Type=forking
ExecStart=-/usr/local/scripts/gateway/admin/start/bearerbox.sh
ExecStop=/usr/local/scripts/gateway/admin/stop/bearerbox.sh
ExecReload=/usr/local/scripts/gateway/admin/reload/bearerbox.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
