[Unit]
Description=Start Gateway

[Service]
Type=forking
ExecStart=+/usr/local/scripts/gateway/admin/start_gateway.sh
ExecStop=/usr/local/scripts/gateway/admin/stop_gateway.sh
ExecReload=/usr/local/scripts/gateway/admin/reload_gateway.sh
PIDFile=/run/kannel/bearerbox.pid
Restart=on-failure
RestartSec=10

[Install]
Alias=gateway.service
