[Unit]
After=bearerbox.service
Description=Start Smsbox

[Service]
EnvironmentFile=-/etc/default/kannel
Type=forking
ExecStart=+/usr/local/scripts/gateway/admin/start/smsbox.sh
ExecStop=/usr/local/scripts/gateway/admin/stop/smsbox.sh
# ExecReload=/usr/local/scripts/gateway/admin/reload/smsbox.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
