[Unit]
After=bearerbox.service
Description=Start Sqlbox

[Service]
EnvironmentFile=-/etc/default/kannel
Type=forking
ExecStart=+/usr/local/scripts/gateway/admin/start/sqlbox.sh
ExecStop=/usr/local/scripts/gateway/admin/stop/sqlbox.sh
# ExecReload=/usr/local/scripts/gateway/admin/reload/sqlbox.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
